
<div class="containerr animate__animated animate__fadeIn">
          <div class="panel panel-primary">
              <div class="panel-body">
                <table class="table table-dark">
                    <thead>
                      <tr class="whit">
                        <th>Auto</th>
                        <th>Año</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                              <td class="whit">{{item.auto}}</td>
                              <td class="whit">{{item.anio}}</td>
                              <td class="whit">{{item.marca}}</td>
                              <td class="whit">{{item.modelo}}</td>
                                <td>
                                    <button pButton 
                                            type="button" 
                                            label="Eliminar" 
                                            style="height: 2rem;"
                                            (click)="confirm2(item.id)"
                                            class="p-button-outlined p-button-danger"></button>

                                    <button pButton 
                                            type="button" 
                                            label="Editar" 
                                            style="height: 2rem;"
                                            (click)="editar(item.id)"
                                            class="p-button-outlined p-button-warning"></button>
                                </td>
                            </tr>
                            
                    </tbody>
                </table>
              </div>
          </div>
</div>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>